{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit">Login!</button>
{{ form_end(form) }}
{% if TESTING is defined %}
  <p>TESTING</p>
{% endif %}
