<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{{ asset('/css/master.css') }}">
        {% endblock %}
        {% block javascripts %}
            {% javascripts '%kernel.root_dir%/Resources/public/scripts/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <div class="main">
                {% image '%kernel.root_dir%/Resources/public/images/placeholder.png' output='/images/placeholder.png'%}
                <img src="{{ asset_url }}" alt="placeholderimage" id="background-image"/>
                {% endimage %}
                <header id="header">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/guildies">Testing</a></li>
                            <li><a href="{{ logout_path() }}">logout</a></li>
                        </ul>
                    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                        <ul id="login_list">
                            <li class="login_item"><a href="/login">Login</a></li>
                            <li class="login_item"><a href="/register">Register an account</a></li>
                        </ul>
                    {% endif %}
              </header>
            </div>
        {% endblock %}
    </body>
</html>
