<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/master.css">
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <header>
              <a href="/">Home</a>
              <a href="/guildies">Testing</a>
              <a href="{{ logout_path() }}">logout</a>
            </header>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
