{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/master.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
{% endblock %}
{% block content %}
    <div id="grid"></div>
    {% for user in users %}
      <p>{{ user.username }}</p>
    {% else %}
      <p>No users found</p>
    {% endfor %}
{% endblock %}
{% javascripts
    '@testingAgain/Resources/scripts/grid_scripts.js'
%}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src={{ asset_url }}></script>
{% endjavascripts %}
