{% extends 'base.html.twig' %}
{% block content %}
    {{ parent() }}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
    {% endblock %}
    <div class="dashboard">
        testing
    </div>
{% endblock %}
