{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/main.css">
{% endblock %}
{% block content %}
    <p>Main page</p>
{% endblock %}
