#header {
    background-color: black;
    height: 40px;
}

#login_list {
    border: 1px solid black;
    background-color: white;
}

@media screen and (min-width: 1920px) {
    #background-image {
        position: absolute;
        background-size: 1920px 1080px;
    }

    .main {
        position: relative;
    }

    #header {
        position: relative;
    }

    body {
        margin: 0px;
    }
}
@media screen and (min-width: 1366px) {
    #background-image {
        position: absolute;
        width: 1366px;
        height: auto;
        background-size: contain;
    }

    .main {
        position: relative;
    }

    #header {
        position: relative;
    }

    body {
        margin: 0px;
    }
}
